@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofadi+One&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
}

body {
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.newtask {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.newtask input {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    outline: none;
}

.newtask button {
    font-size: 20px;
    margin-left: 20px;
    width: 80px;
    padding: 5px 5px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500px;
    transition: 0.5s;
}

.newtask button:hover {
    color:white;
    background-color: violet
}

#task-container {
    text-align: center;
    margin-top: 20px;
}

.task {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-left: 37.5%;
    font-size: 22px;
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 10px;
    text-overflow: clip;
}

.task button {
    margin-right: 2px;
    font-size: 15px;
    padding: 2px 2px;
    margin-bottom: 1px;
    color:black;
    background-color: red;
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
}

.task button:hover {
    color:white;
    background-color: black;
}

